*{}

body {
  text-align: center;

}
h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 5%;
  text-shadow: 3px #48E5C2;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  position: : center;
}

#homepage{
  background-image: url(../images/mario.gif);
  background-size: auto;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: color-dodge;

}

#head{
  margin-bottom: 0px;
  background-color: rgba(199, 0, 57 , 0.4)
}

/*#headblur{
  margin-top: 0px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  font-size: 40px;
  background-color: rgba(0,0,0, 0.4)
}
*/

.nav ul{
  list-style: none;
  background: rgba(199, 0, 57 , 0.5);
  text-align: center;
  padding: 0: margin 0;
}

.nav li{
  display: inline-block;
}

.nav a{
  text-decoration: none;
  color: white;
  display: block;
  font-size: 25px;
  line-height: 55px;
  margin: 0%;
  text-align: center;
  width: 300px;
}

.nav a:hover{
  background: rgba(199, 0, 57 , 0.75);
  transition: 0.4s;
}
